<header>
  <div>
  </div>
</header>
<main>

  <section>
    <h3>Education</h3>
    <article>

    </article>
    <article>

    </article>
  </section>

  <section>
   <strong>Cycle d'ingénieur à l’École supérieur Privée d'ingniérie et de technologies (TEK-UP) 2018-Présent </strong>

    <article>
    </article>
    <article>

    </article>
  </section>

  <section>
    <strong>Licence appliquée en informatique industriel à l'institut supérieur d'informatioque (ISI)   2011-2015 </strong>
    <article>
    </article>
    <article>

    </article>
  </section>
  <section>
    <strong>Baccalauréat en Sciences de l'informatique Lycée Abouloubaba Gabes  2010-2011 </strong>
    <article>
    </article>
    <article>

    </article>
  </section>
  <section>
    <h3>Experience</h3>
    <article>
      <div class='job-title'>

      </div>
      <div>
        <br>
        <ul class="job-description">

          <li>2016-2017</li>
          Technicien en Maintenance Informatique à General Alfa Gabes

        <li>2015</li>
          Stage de fin d'études au sein
          d'Industries Chimique de Fluor

        </ul>
      </div>
    </article>
  </section>

  <section>
    <h3>Projets Personnel</h3>
    <article>

    </article>
    <article>

    </article>
  </section>

  <section>
    <strong>Tek-Store  </strong>

    <br>
    <strong>:   Site E-commerce développer en Angular et NodeJs</strong>

    <article>
    </article>
    <article>

    </article>
  </section>

  <section>
    <strong>Reddit Clone </strong>
    <strong>: Clonage   site web communautaire américain d’actualités sociales Reddit en Angular et SpringBoot</strong>
    <article>
    </article>
    <article>




    </article>
  </section>
  <section>
    <strong>Site des réservations en ligne </strong>
    <strong>: Réalisation et développement d'un site de réservation de vols et hotels en Angular et SpringBoot </strong>
    <article>
    </article>
    <article>




    </article>
  </section>
  <section>
    <h3>Skills</h3>

      <div class='column'>
        <ul>
          <li>Html</li>
          <li>Css</li>
          <li>JavaScript</li>

        </ul>
      </div>
    <div class='column'>
      <ul>
        <li>Angular</li>
        <li>SpringBoot</li>
        <li>MySql</li>
      </ul>
    </div>



    <div class='column'>
      <ul>
        <li>Java</li>
        <li>C</li>
        <li>Nosql</li>
      </ul>
    </div>
  </section>


</main>
